#output
output/
test_report.py
functions_archive.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
.venv/
.pipenv/
*.egg-info/
.eggs/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
pip-wheel-metadata/
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pylint
.pylint.d/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs
.idea/
*.sublime-project
*.sublime-workspace